# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

bin/ 

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.class

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out